---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import Hero from '../layouts/Hero.astro';
import Menu from '../layouts/Menu.astro';
import Footer from '../layouts/Footer.astro';
---

<Layout title="Venta de comida cubana en Holguín">
	<Header />
	<main class="pb-20">
		<Hero />
		<Menu />
	</main>
	<Footer />
</Layout>

<style is:global>
 	:root {
		--border: linear-gradient(
            to right, 
            transparent, 
            #8D601177,
            transparent
        );
	}

	.show {
		top: 0;
	}
</style>
