---
import PhoneIcon from "../components/icons/PhoneIcon.astro";
import WhatsappIcon from "../components/icons/WhatsappIcon.astro";
---

<header class="fixed flex flex-row items-center justify-between 
    p-4 px-4 sm:px-8 lg:mx-[20%] w-full lg:w-[60%] z-50">

    <img class="w-8 sm:w-12" src="/public/tamal-icon.webp" alt="Icono de Tamal">

    <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold">Comida Cubana</h1>

    <button class="bg-[#8D6011] w-8 h-8 sm:w-12 sm:h-12 flex flex-col items-center justify-center rounded-full text-white 
        md:hover:scale-110 transition">
        <span class="lg:absolute lg:opacity-0"><PhoneIcon fill="#fff" stroke="none" /></span>
        <span class="absolute opacity-0 lg:static lg:opacity-100"><WhatsappIcon /></span>
    </button>

</header>

<div class="fixed top-[-100%] h-16 sm:h-20 z-40 transition-top duration-300
lg:mx-[20%] w-full lg:w-[60%]" id="scrollDiv"></div>

<script>
    if (typeof window !== "undefined") {
        window.addEventListener("scroll", () => {
            const scrollDiv = document.getElementById("scrollDiv");
            const header = document.querySelector("header");
            if (scrollDiv) {
                if (window.scrollY > 0) {
                    scrollDiv.style.top = "0";
                    header?.style.setProperty("--bg-after", "transparent");
                } else {
                    scrollDiv.style.top = "-100%";
                    header?.style.setProperty("--bg-after", "linear-gradient(to right, transparent, #8D601177,transparent);");
                }
            }
        });
    }
</script>

<style>
    div {
        background: rgba(255, 246, 199, 0.5);
        border-radius: 0 0 16px 16px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
    header::after {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 1px;
        border-radius: 50%;
        background: var(--border);
    }
</style>